<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>

<section class="enter">
  <article class="enter-button">
    <% if current_user %>
      <img src="/assets/vector-frame.png" class="vector-frame">
      <div class="homepage-link"><%= link_to "Visualize your art in different spaces.  Frame-it, stage-it & share-it.", user_pictures_path(current_user) %></div>
    <% else %>
      <img src="/assets/vector-frame.png" class="vector-frame">
      <div class="homepage-link"><%= link_to "Visualize your art in different spaces.  Frame-it, stage-it & share-it.", create_guest_path, method: :post%></div>
    <% end %>
  </article>
</section>

<div class="hr-line"><hr></div>

<h1 class="title-tag">Explore Art</h1>

<br>

<div class="three-columns">
  <div class="three-column-one"></div>
  <div class="three-column-two"></div>
  <div class="three-column-three"></div>
</div>

<div class="cards">
  <% @pictures.each_with_index do |picture, index| %>

    <% if index % 3 == 0 %>
      <script>
        $('.three-column-one').append("<div class='card card-on-homepage'><div class='card-image'><img src='<%= picture.image.url %>' alt=''></div><div class='card-header'></div></div>")
      </script>
      <% elsif index % 3 == 1 %>
      <script>
     $('.three-column-two').append("<div class='card card-on-homepage'>" +
        "<div class='card-image'>" +
          "<img src='<%= picture.image.url %>' alt=''>" +
          "</div>" +
        "<div class='card-header'>" +

          "</div>" +
        "</div>")
      </script>
    <% elsif index % 3 == 2 %>
      <script>
        $('.three-column-three').append("<div class='card card-on-homepage'>" +
          "<div class='card-image'>" +
          "<img src='<%= picture.image.url %>' alt=''>" +
          "</div>" +
          "<div class='card-header'>" +

          "</div>" +
          "</div>")
      </script>
      <% end %>
  <% end %>
</div>
</div>

<script>
  var bestFrames = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: '/search?q=%QUERY',
  });

  bestFrames.initialize();

  $('#searchfield').typeahead(null, {
    source: bestFrames.ttAdapter()
  });
</script>


