<div id="upload-picture-form">
  <%= form_for @picture, :html => {:multipart => true} do |f| %>
    <% if @picture.errors.any? %>
      <div class="error_messages">
        <ul>
          <% for message in @picture.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <article class="form-fields">
      <p>
        <%= f.file_field :image, :required => true %>
      </p>
      <p>
        <%= f.label :height %>
        <%= f.number_field :height, :required => true, placeholder: "ex: 30" %>
      </p>
      <p>
        <%= f.label :width %>
        <%= f.number_field :width, :required => true, placeholder: "ex: 20"%>
      </p>
      <p>
        <%= f.label :description %>
        <%= f.text_field :description, placeholder: "ex: self-portrait" %>
      </p>
      <%= f.submit "Upload Picture" %>
    </article>
  <% end %>
</div>