<div id="upload-wall-form">
  <%= form_for @wall, :html => {:multipart => true} do |f| %>
    <% if @wall.errors.any? %>
      <div class="error_messages">
        <ul>
          <% for message in @wall.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <article class="form-fields">
      <p>
        <%= f.file_field :image, :required => true %>
      </p>
      <p>
        <%= f.label :name, "height (inches)" %>
        <%= f.number_field :height, :required => true, placeholder: "ex: 64" %>
      </p>
      <p>
        <%= f.label :name, "width (inches)" %>
        <%= f.number_field :width, :required => true, placeholder: "ex: 45" %>
      </p>
      <p>
        <%= f.label :description %>
        <%= f.text_field :description, :required => true, placeholder: "ex: wall above couch" %>
      </p>

      <%= f.submit "Create Wall" %>
    </article>
  <% end %>
</div>