<div id="upload-wall-form">
  <%= form_for @wall, url: "/walls", :html => {:multipart => true} do |f| %>
    <% if @wall.errors.any? %>
      <div class="error_messages">
        <ul>
          <% for message in @wall.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <article class="form-fields">

      <p>
        <%= f.file_field :image, :required => true %>
      </p>

      <p>
        <%= f.label :height %>
        <%= f.text_field :height, :required => true %>
      </p>

      <p>
        <%= f.label :width %>
        <%= f.text_field :width, :required => true %>
      </p>

      <p>
        <span><%= f.label :description %> <%= f.text_field :description %></span>
      </p>

      <%= f.submit "Create Wall" %>
    </article>
  <% end %>
</div>