<div class="container">
  <section class="picture-form">
    <%= form_for @picture, :html => {:multipart => true} do |f| %>
      <% if @picture.errors.any? %>
        <div class="error_messages">
          <ul>
            <% for message in @picture.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <article class="form-fields">
        <%= f.hidden_field :user_id %>
        <p>
          <%= f.file_field :image %>
        </p>

        <p>
          <span><%= f.label :description %> <%= f.text_field :file_name %></span>
        </p>

        <%= f.submit "Upload" %>
      </article>
    <% end %>
  </section>
</div>

<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="#" class="is-active tab-link">Unframed</a>


    <div class="tab-content is-open">
      <div class="cards">
        <% current_user.pictures.each do |picture| %>
          <div class="card">
            <div class="card-image">
              <img src="<%= picture.image.url %>" alt="">
            </div>
            <div class="card-header">
              <%= picture.file_name %>
            </div>
            <div class="card-stats">
              <ul>
                <li><span><%= link_to "edit", edit_picture_path(picture) %></span></li>
                <li><span><%= link_to "remove", picture, :confirm => 'Are you sure?', :method => :delete %></span></li>
                <li><span><%= link_to "select", picture_path(picture) %></span></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Framed</a>

    <div class="tab-content">
      <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices.
        Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus
        pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa
        vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a
        molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut
        vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at
        nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
    </div>
  </li>

  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Third</a>

    <div class="tab-content">
      <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum
        in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat
        fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel
        lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna
        tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>
    </div>
  </li>


  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Last Item</a>

    <div class="tab-content">
      <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna, mollis
        vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum pellentesque sed sit amet dolor. Nunc
        in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed nibh iaculis convallis id sit amet urna. Proin nec
        tellus quis justo consequat accumsan. Vivamus turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
    </div>
  </li>

</ul>


