<%= form_for @picture, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :user_id %>
  <p>
  <%= f.label :file_name %>
  <%= f.text_field :file_name %>
  </p>
  <p>
  <%= f.file_field :avatar %>
  </p>
  <%= f.submit "Upload a picture to frame" %>
<% end %>



<div class="unframed_pictures_gallery">
  <% current_user.pictures.each do |picture| %>
    <div class="picture">
      <%= image_tag picture.avatar.url %>
      <div class="picture_description"><%= picture.file_name %></div>
      <div class="actions">
        <%= link_to "edit", edit_picture_path(picture) %>
        <%= link_to "remove", picture, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>




