<div class="container">
  <section class="picture-form">
    <article class="form-fields">
      <p id="picture-form-button"><%= link_to "Select a picture to frame" %><em class='right-triangle'> &#9654;</em>
        <em class='down-triangle'>&#9660;</em></p>

      <p id="wall-form-button"><%= link_to "Create a wall to hang your picture on" %>
        <em class='right-triangle'> &#9654;</em><em class='down-triangle'>&#9660;</em></p>
    </article>
    <%= render "pictures/picture_form" %>
    <%= render "pictures/wall_form" %>
  </section>
</div>

<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="#" class="is-active tab-link">Pictures</a>

    <div class="tab-content is-open">
      <div class="cards">
        <% current_user.pictures.each do |picture| %>
          <div class="card" data-id="<%= picture.id %>">
            <div class="card-image">
              <img src="<%= picture.image.url %>" alt="">
            </div>
            <div class="card-header">
              <em class="picture-description"><%= picture.description %></em>
            </div>
            <div class="card-stats">
              <ul data-id="<%= picture.id %>">
                <li><span class="delete-picture"><em>&#10008;</em> </span></li>
                <li><span><%= link_to "frame it", user_picture_path(current_user, picture) %></span></li>
                <li><span><%= link_to "hang it", walls_path(picture.id) %></span></li>
                <% if @shares.include?(picture.id) == true %>
                  <li id="<%= picture.id %>">
                    <span><%= link_to "unshare", unshare_picture_path(picture), class: "share-it-link unshare" %></span>
                  </li>
                <% else %>
                  <li>
                    <span><%= link_to "share it", share_picture_path(picture), class: "share-it-link share" %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </li>
  <li class="tab-header-and-content">
    <%= render "walls/saved_arrangements"%>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Favorite Frames</a>

    <div class="tab-content">
      <% if current_user.walls == [] %>
        <div class="nothing-created_message">
          <h4>You have not favorited any frames</h4>
        </div>
      <% end %>
    </div>
  </li>

  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Walls</a>

    <div class="tab-content">
      <div class="cards">

        <% current_user.walls.each do |wall| %>
          <div class="card">
            <div class="card-image">
              <img src="<%= wall.image.url %>" alt="">
            </div>
            <div class="card-header">
              <%= wall.description %>
            </div>
            <div class="card-stats">

            <ul data-id="<%= wall.id %>">
              <li><span class="delete-wall"><em>&#10008;</em> </span></li>
            </ul>

            </div>
          </div>
        <% end %>
        <% if current_user.walls == [] %>
          <div class="nothing-created_message">
            <h4>You have not created any walls</h4>
          </div>
        <% end %>
      </div>

    </div>
  </li>
</ul>


