<div class="container">
  <section class="picture-form">
    <%= form_for @frame, :html => {:multipart => true} do |f| %>
      <% if @frame.errors.any? %>
        <div class="error_messages">
          <ul>
            <% for message in @frame.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <article class="form-fields">

        <%= f.file_field :image %>

        <%= f.label :name, :required => true, placeholder: "ex: Ribba frame" %>
        <%= f.text_field :name %>

        <%= f.label :name, "inner frame height (inches)", :required => true, placeholder: "ex: 10" %>
        <%= f.number_field :inner_height %>

        <%= f.label :name, "inner frame width (inches)", :required => true, placeholder: "ex: 12" %>
        <%= f.number_field :inner_width %>

        <%= f.label :name, "width of moulding (inches)", :required => true, placeholder: "ex: 2" %>
        <%= f.number_field :width_of_moulding %>

        <%= f.submit %>

      </article>
    <% end %>
  </section>
</div>



<table class="table-minimal">

  <thead>
  <tr>

    <th>Image</th>
    <th>Name</th>
    <th>Inner Height</th>
    <th>Inner Width</th>
    <th>Width of Moulding</th>
    <th>Remove Frame</th>
  </tr>
  </thead>

  <tbody>
  <% if @frames %>
    <% @frames.each do |frame| %>

      <tr class="frame-table-row">
        <td><img src="<%= frame.image.url %>"></td>
        <td><%= frame.name %></td>
        <td><%= frame.inner_height %></td>
        <td><%= frame.inner_width %></td>
        <td><%= frame.width_of_moulding %></td>
        <td>
          <ul data-id="<%= frame.id %>">
            <li><span class="delete-frame"><em>&#10008;</em> </span></li>
          </ul>
        </td>
      </tr>
    <% end %>
  <% end %>

  </tbody>

</table>




