<div class="container">
  <section class="picture-form">
    <%= form_for @frame, :html => {:multipart => true} do |f| %>

      <article class="form-fields">

        <%= f.file_field :image %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= collection_check_boxes(:frame_size_join, :frame_size_ids, Frame_Size.all, :id, :dimensions) %>

        <%= f.submit %>

      </article>
    <% end %>
  </section>
</div>

<% current_user.frames.each do |frame| %>
  <img src="<%= frame.image.url %>" >
<% end %>



