<div class="container">
  <section class="picture-form">
    <%= form_for @frame, :html => {:multipart => true} do |f| %>

      <article class="form-fields">

        <%= f.file_field :image %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :length %>
        <%= f.text_field :length %>

        <%= f.label :width %>
        <%= f.text_field :width %>

        <%= f.submit %>

      </article>
    <% end %>
  </section>
</div>

<% current_user.frames.each do |frame| %>
  <img src="<%= frame.image.url %>" >
  <p><%= frame.name %></p>
  <ul>
    <li><span><%= link_to "remove", frame, :method => :delete %></span></li>
  </ul>
<% end %>



