<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/">
      <h1 class="logo">frame-it</h1>
    </a>

    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <% if signed_in? %>
          <% if guest_user %>
            <li class="nav-link">Signed in as guest</li>
            <li class="nav-link"><%= link_to "Sign Up", sign_up_path("guest_upload") %></li>
            <li class="nav-link"><%= link_to "Sign In", sign_in_path %></li>
          <% else %>
            <li class="nav-link"><%= link_to "Sell Frames", frames_path %></li>
            <li class="nav-link "><%= link_to "Your Gallery", user_pictures_path(current_user) %></li>
            <li class="nav-link ">Signed in as <%=current_user.email%></li>
            <li class="nav-link"><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
          <% end %>
        <% else %>
          <li class="nav-link"><%= link_to "Sign Up", sign_up_path("nil") %></li>
          <li class="nav-link"><%= link_to "Sign In", sign_in_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

</header>




