<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= image_tag("frame-it.png")%>
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <% if signed_in? %>
          <% if guest_user %>
            <li class="nav-link">Signed in as guest</li>
            <li class="nav-link"><%= link_to "Sign Up", sign_up_path("guest_upload") %></li>
            <li class="nav-link"><%= link_to "Sign In", sign_in_path %></li>
          <% else %>
            <li class="nav-link"><%= link_to "Sell Frames", frames_path %></li>
            <li class="nav-link"><%= link_to "Your Gallery", pictures_path %></li>
            <li class="nav-link">Signed in as <%=current_user.email %></li>
            <li class="nav-link"><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
          <% end %>
        <% else %>
          <li class="nav-link"><%= link_to "Sign Up", sign_up_path("nil") %></li>
          <li class="nav-link"><%= link_to "Sign In", sign_in_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="scalloped-edge">
  <span class="scalloped-edge"><%= image_tag "ScallopedBorder2.png" %></span>
  </div>
</header>




